<html>
<head>
    <style>
        ul {
            list-style-type: none;
            padding: 10px;
        }

        ul.expression-builder-group {
            list-style-type: none;
        }

        li {
            display: inline;
        }
    </style>
</head>
<title>Test</title>
<body ng-app="app">

<h1>
    Test Expression Builder
</h1>

<div ng-controller="expressionsCtrl">
    <div eb-node="model.node">
    </div>
</div>

<script src="../bower_components/angular/angular.js"></script>
<script src="../dist/scripts.js"></script>
<script src="../dist/templates.js"></script>

<script language="javascript">
    var app = angular.module('app', ['expression-builder']);
    app.controller('expressionsCtrl', [
        'BuilderNode',
        'BuilderExpression',
        'ExpressionBuilder',
        '$scope',
        '$templateCache',
        function (BuilderNode,
                  BuilderExpression,
                  ExpressionBuilder,
                  $scope,
                  $templateCache) {

            $templateCache.put('label', '<label>{{expression.text}}</label>');
            $templateCache.put('input', '<input ng-model="expression.value" ng-change="expression.input($event);"/>');
            $templateCache.put('list', '<select ng-model="expression.selected" ng-change="expression.change()"><option ng-repeat="option in expression.options">{{option}}</option></select>');
            $templateCache.put('button', '<button ng-click="expression.click($event)">{{expression.text}}</button>');

            $scope.model = {
                node: new BuilderNode()
            };

            var Label = function () {
                BuilderExpression.call(this, 'label');
                this.text = '';
            };

            var Input = function () {
                BuilderExpression.call(this, 'input');
                this.value = '';
            };

            var List = function () {
                BuilderExpression.call(this, 'list');
                this.selected = [];
                this.options = [];
            };

            var Button = function () {
                BuilderExpression.call(this, 'button');
                this.click = angular.noop;
                this.text = '';
            };

            $scope.model.builder = new ExpressionBuilder([
                {
                    type: Label,
                    property: 'label',
                    templateUrl: 'label'
                },
                {
                    type: Input,
                    property: 'input',
                    templateUrl: 'input'
                },
                {
                    type: List,
                    property: 'list',
                    templateUrl: 'list'
                },
                {
                    type: Button,
                    property: 'button',
                    templateUrl: 'button'
                }
            ]);

            $scope.model
                    .builder.node({
                        id: '#upperPlaceholder',
                        placeholder: true
                    }, function (builder) {
                        builder
                                .label('#label', {text: 'Test label'})
                                .input('#input', {
                                    value: 'Text input',
                                    unholdOn: 'input',
                                    isVisible: function (ctx) {
                                        return this.value.length < 20;
                                    },
                                    input: function (ctx) {
                                        console.log(ctx['#input'].value);
                                    }
                                })
                                .group('#group', function (builder) {
                                    builder.label('#groupLabel1', {text: 'Group Label 1'})
                                            .label('#groupLabel2', {text: 'Group Label 2'});
                                })
                                .list('#list', {
                                    options: ['IN', 'BETWEEN', 'EQUALS'],
                                    selected: 'EQUALS',
                                    change: function (ctx) {
                                        switch (this.selected.toLowerCase()) {
                                            case 'equals':
                                                ctx.replace('#operand', function (builder) {
                                                    builder.list('#equals', {
                                                        placeholder: 'PH',
                                                        change: function (ctx) {
                                                            console.log('EQUALS IS SELECTED: ' + this.value);
                                                        },
                                                        options: ['ONE', 'TWO', 'THREE'],
                                                        selected: 'Some text'
                                                    });
                                                });
                                                break;
                                            case 'between':
                                                ctx.replace('#operand', function (builder) {
                                                    builder
                                                            .list('#from', {
                                                                placeholder: 'PH1',
                                                                change: function (ctx) {
                                                                    console.log('FROM : ' + this.value);
                                                                },
                                                                options: [1, 2, 3],
                                                                selected: 1
                                                            })
                                                            .label('#and', {text: 'AND'})
                                                            .list('#to', {
                                                                placeholder: 'PH1',
                                                                change: function (ctx) {
                                                                    console.log('TO: ' + this.value);
                                                                },
                                                                options: [1, 2, 3],
                                                                selected: 2
                                                            });
                                                });
                                                break;
                                        }
                                        console.log('CHANGE: ' + this.selected);
                                    }
                                })
                                .button('#btn', {
                                    text: 'Remove',
                                    placeholder: false,
                                    unholdOn: ['click'],
                                    click: function (ctx) {
                                        ctx.remove();
                                        console.log('Click!');
                                    }
                                })
                    })
                    .node({id: '#otherNode'}, function (builder) {
                        builder.label('#newNode', {text: 'Other Node'});
                    })
                    .apply($scope.model.node);
        }]);
</script>

</body>
</html>