<html>
<head>
    <style>
        ul {
            list-style-type: none;
            padding: 10px;
        }

        li {
            display: inline;
        }
    </style>
</head>
<title>Test</title>
<body ng-app="app">

<h1>
    Test Expression Builder
</h1>

<div ng-controller="expressionsCtrl">
    <div eb-node="model.node">
    </div>
</div>

<script src="../bower_components/angular/angular.js"></script>
<script src="../dist/scripts.js"></script>
<script src="../dist/templates.js"></script>

<script language="javascript">
    var app = angular.module('app', ['expression-builder']);
    app.controller('expressionsCtrl', [
        'BuilderNode',
        'BuilderExpression',
        'ExpressionBuilder',
        '$scope',
        '$templateCache',
        function (BuilderNode,
                  BuilderExpression,
                  ExpressionBuilder,
                  $scope,
                  $templateCache) {

            $templateCache.put('label', '<label>{{expression.text}}</label>');
            $templateCache.put('input', '<input ng-model="expression.value" ng-change="expression.input($event);"/>');
            $templateCache.put('list', '<select ng-model="expression.selected"><option ng-repeat="option in expression.options">{{option}}</option></select>');
            $templateCache.put('button', '<button ng-click="expression.click($event)">{{expression.text}}</button>');

            $scope.model = {
                node: new BuilderNode()
            };

            var Label = function () {
                BuilderExpression.call(this, 'label');
                this.text = '';
            };

            var Input = function () {
                BuilderExpression.call(this, 'input');
                this.value = '';
            };

            var List = function () {
                BuilderExpression.call(this, 'list');
                this.selected = [];
                this.options = [];
            };

            var Button = function () {
                BuilderExpression.call(this, 'button');
                this.click = angular.noop;
                this.text = '';
            };

            $scope.model.builder = new ExpressionBuilder([
                {
                    constructor: Label,
                    property: 'label',
                    templateUrl: 'label'
                },
                {
                    constructor: Input,
                    property: 'input',
                    templateUrl: 'input'
                },
                {
                    constructor: List,
                    property: 'list',
                    templateUrl: 'list'
                },
                {
                    constructor: Button,
                    property: 'button',
                    templateUrl: 'button'
                }
            ]);

            $scope.model
                    .builder.node({id: '#upperPlaceholder'}, function (builder) {
                        builder
                                .label('#label', {text: 'Test label'})
                                .input('#input', {
                                    value: 'Text input',
                                    unholdOn: 'input',
                                    input: function (ctx) {
                                        console.log(ctx['#input'].value);
                                    }
                                })
                                .list('#list', {options: [1, 2, 3]})
                                .button('#btn', {
                                    text: 'add',
                                    unholdOn: ['click'],
                                    click: function (ctx) {
//                                        var clone = ctx.clone();
//                                        ctx.add(clone);
                                        console.log('Click!');
                                    }
                                })
                    })
                    .node({id: '#otherNode'}, function (builder) {
                        builder.label('#newNode', {text: 'Other Node'});
                    })
                    .apply($scope.model.node);
        }]);
</script>

</body>
</html>